<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Főoldal</title>
    <link rel="stylesheet" href="/index.css"> <!-- Központi CSS fájl -->
</head>
<body>
    <header>
        <h1>
            Willkommen auf der Chat-Website der Nyitra Luftschiff Mafia</h1>
    </header>
    
    
    <div class="container">
        
        <div class="button-container">
            <a href="/register" class="button">Felhasználó regisztrálása</a>
            <a href="/sendmessage" class="button">Üzenet küldése</a>
            <a href="/manage-delete" class="button delete">Felhasználók és Üzenetek kezelése</a>
        </div>
    </div>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
     </div>
     <footer>© 2024 Korom és Hubert || MINDEN JOG FENNTARTVA </footer>
</body>
</html>
